<div class="test">

    <div ui-sref="home" class="words2">DinnerTable

        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <br>
        <div class="flavor">Create your flavor </div>

    </div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <div class="food">
        <h1 class="words2">The DinnerTable</h1>
    </div>
    <div class="food">
        <h1 class="words2">is where the magic happens,</h1>
    </div>
    <div class="food">
        <h1 class="words2">Go makes something delicious!</h1>
    </div>
</div>
