<div class="test">

    <!--Title/logo -->
    <div class="words2">DinnerTable
        <i class="fa fa-cutlery" aria-hidden="true"></i>
        <br>
        <div class="flavor">Create your flavor </div>
    </div>

    <div class="margin" class="background">

        <div>
            <a hover-directive class="words" ui-sref="recipes">Get recipes</a>
        </div>

        <br>

        <div>
            <a hover-directive class="words3" ui-sref="about">About</a>
        </div>


        <!--icons with directive-->
        <div class="icons-div">
            <a class="icons-div" href="https://www.facebook.com/">

                <i hover-directive class="fa fa-facebook-official" aria-hidden="true"></i>

            </a>

            <a h class="icons-div" href="https://www.instagram.com/?hl=en">

                <i hover-directive class="fa fa-instagram" aria-hidden="true"></i>

            </a>


            <a class="icons-div" href="https://twitter.com/">

                <i hover-directive class="fa fa-twitter" aria-hidden="true"></i>
            </a>


            <a class="icons-div" href="https://www.pinterest.com/">

                <i hover-directive class="fa fa-pinterest-square" aria-hidden="true"></i>
            </a>


        </div>

    </div>

</div>
