@import url('https://fonts.googleapis.com/css?family=Lobster');


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}


$snow: white;



.test{
  background-image: url("img/cooking.jpg");
  height: 100vh;
  width: 100vw;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;



}


// home background
.background {
    // background-image: url("img/cooking.jpg");
    height: 100vh;
    width: 100vw;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.words{
  // color: white;
  color: $snow;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 60px;
}

.words2{
  // color: white;
  color: $snow;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 80px;
  margin-left: 65px;

}


.words3{
  // color: white;
  color: $snow;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 50px;
}


.flavor{
  // color: white;
  color: $snow;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 30px;
  margin-left: 65px;

}



.margin{
  height: 165px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 285px;
}


.icons-div {
    height: 100px;
    width: 250px;
    font-size: 30px;
    // color: white;
    color: $snow;
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}






.recipecontainer{
  display: flex;
  align-content: center;
  height: 70vh;
  width: 900px;
  margin: auto;
}

.recipe{
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
}

.list{
  // background-color: red;
  // background: rgba(0, 0, 1, .5);
  // border: solid 4px white;
  height: auto;
  min-height: 50px;
  // max-height: 600px;;
  padding-top: 10px;
  padding-left: 31px;
  display: flex;
  flex-direction: column;
  // overflow-y: scroll;
  overflow-y: auto;

}

.listwords{
  // color: white;
  color: $snow;
  font-family: 'Lobster', cursive;
  text-decoration: none;
  font-size: 15px;

}


.recipe2{
  // background-color: green;
    height: 100%;
    width: 40%;
    margin-left: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.buttons{
  cursor: pointer;
}

.food{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}
